<div *ngIf="taskForm" class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <h3>{{editMode? 'Edit' : 'Add New'}} Task</h3>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="form-horizontal">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="nameInput" class="control-label">Name</label>
            <input type="text"
                   id="nameInput"
                   placeholder="Name"
                   formControlName="name"
                   class="form-control">
            <span
              *ngIf="!taskForm.get('name').valid && taskForm.get('name').touched"
              class="help-block">Please enter a task name!</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="projectIdInput" class="control-label">Project</label>
            <select
              id="projectIdInput"
              class="form-control"
              formControlName="projectId">
              <option value="">Select one</option>
              <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div *ngIf="editMode" class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="assignedUserInput" class="control-label">Assigned user</label>
            <select
              id="assignedUserInput"
              [value]="taskForm.get('assignedUser').value"
              class="form-control"
              formControlName="assignedUser">
              <option *ngFor="let member of assignableUsers">{{member}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="plannedDateInput" class="control-label">Planned date</label>
            <input type="date"
                   id="plannedDateInput"
                   [value]="taskForm.get('plannedDate').value | date:'yyyy-MM-dd'"
                   formControlName="plannedDate"
                   class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="priorityInput" class="control-label">Priority</label>
            <select
              id="priorityInput"
              [value]="taskForm.get('priority').value"
              class="form-control"
              formControlName="priority">
              <option *ngFor="let priority of priorities">{{priority}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="descriptionInput" class="control-label">Description</label>
            <textarea type="text"
                      id="descriptionInput"
                      placeholder="Description"
                      formControlName="description"
                      class="form-control"
                      rows="6"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label class="control-label">Completed</label>
            <br/>
            <label class="radio-inline">
              <input type="radio" id="completedRadioTrue" formControlName="completed" [value]="true"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" id="completedRadioFalse" formControlName="completed" [value]="false"> No
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="completionDateInput" class="control-label">Completion date</label>
            <input type="date"
                   id="completionDateInput"
                   [value]="taskForm.get('completionDate').value | date:'yyyy-MM-dd'"
                   formControlName="completionDate"
                   class="form-control">
          </div>
        </div>
      </div>

      <hr/>
      <button type="submit" [disabled]="!taskForm.valid" class="btn btn-success">Save</button>
      <button type="button" (click)="onCancelCreateTask();" class="btn btn-default">Cancel</button>
    </form>

  </div>
</div>
