<div *ngFor="let project of projects" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{project.name}}</h3>
  </div>
  <div class="panel-body">
    <p>Deadline: {{project.deadline | date: 'yyyy.MM.dd.'}}</p>
    <p>Description: {{project.description}}</p>
    <button [routerLink]="['/projects', project.id]" class="btn btn-primary">Edit</button>
    <button (click)="onDeleteProject(project)" class="btn btn-danger">Delete</button>
  </div>

</div>

<button class="btn btn-success" (click)="modal.show()">Add Project</button>

<app-modal #modal>
  <div class="app-modal-header">
    <h4 class="modal-title">Add New Project</h4>
  </div>

  <div class="app-modal-body">
    <form [formGroup]="newProjectForm" (ngSubmit)="onCreateProject(); modal.hide();">
      <div class="form-group">
        <label for="nameInput" class="control-label">Name</label>
        <input type="text"
               id="nameInput"
               placeholder="Name"
               formControlName="name"
               class="form-control">
        <span
          *ngIf="!newProjectForm.get('name').valid && newProjectForm.get('name').touched"
          class="help-block">Please enter a valid project name!</span>
      </div>

      <div class="form-group">
        <label for="deadlineInput" class="control-label">Deadline</label>
        <input type="date"
               id="deadlineInput"
               formControlName="deadline"
               class="form-control">
        <span
          *ngIf="!newProjectForm.get('deadline').valid && newProjectForm.get('deadline').touched"
          class="help-block">Please enter a deadline!</span>
      </div>

      <div class="form-group">
        <label for="descriptionInput" class="control-label">Description</label>
        <textarea
          type="text"
          id="descriptionInput"
          placeholder="Description"
          formControlName="description"
          class="form-control"
          rows="6"></textarea>
      </div>
      <hr/>
      <button type="submit" [disabled]="!newProjectForm.valid" class="btn btn-success">Add</button>
      <button type="button" (click)="onCancelCreateProject(); modal.hide()" class="btn btn-default">Cancel</button>
    </form>
  </div>
</app-modal>
