<div *ngFor="let project of projects" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{project.name}}</h3>
  </div>
  <div class="panel-body">
    <p>Deadline: {{project.deadline | date: 'yyyy.MM.dd.'}}</p>
    <p>Description: {{project.description}}</p>
    <button [routerLink]="['/projects', project.id]" class="btn btn-primary">Edit</button>
    <button (click)="onDeleteProject(project)" class="btn btn-danger">Delete</button>
  </div>

</div>

<button class="btn btn-success" data-toggle="modal" data-target="#addProjectModal">Add Project</button>

<div id="addProjectModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="onCancelCreateProject()" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Project</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="newProjectForm"
              class="form-horizontal">

          <div class="form-group">
            <label for="nameInput" class="control-label">Name</label>
            <input type="text"
                   id="nameInput"
                   placeholder="Name"
                   [formControl]="newProjectForm.controls['name']"
                   class="form-control">
          </div>

          <div class="form-group">
            <label for="deadlineInput" class="control-label">Deadline</label>
            <input type="date"
                   id="deadlineInput"
                   [formControl]="newProjectForm.controls['deadline']"
                   class="form-control">
          </div>
          <div class="form-group">
          <label for="locationInput" class="control-label">Description</label>
          <input type="text"
                 id="locationInput"
                 placeholder="Location"
                 [formControl]="newProjectForm.controls['description']"
                 class="form-control">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="onCreateProject()" class="btn btn-success" data-dismiss="modal">Add</button>
        <button (click)="onCancelCreateProject()" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
