<button (click)="onSaveChanges()" [disabled]="!dataChanged" class="btn btn-success">Save Changes</button>
<div class="row">

  <div class="col-md-3">
    <div class="card">
      <h4>Unplanned tasks</h4>
      <button class="btn btn-success" (click)="onAddTask()">Add Task</button>
      <div class="card-body">
        <ul class="list-group">
          <li
            *ngFor="let event of externalEvents"
            mwlDraggable
            [dropData]="{event: event}"
            class="list-group-item"
            style="position:relative; z-index: 10"
          [style.background]="event.color.secondary">

            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                <p class="form-control-static" [style.color]="event.color.primary">{{ event.title }}</p>
                </div>
              </div>

              <div class="form-group">
                <label for="timeInput" class="control-label col-sm-3">Time</label>
                <div class="col-sm-6">
                  <input id="timeInput" type="time" class="form-control" [(ngModel)]="event.estimatedTime" name="estimatedTime" (change)="dataChanged = true">
                </div>
              </div>

              <div class="form-group">
                <label for="priorityInput" class="control-label col-sm-3">Priority</label>
                <div class="col-sm-6">
                  <select
                    id="priorityInput"
                    [(ngModel)]="event.priority" name="priority"
                    (change)="dataChanged = true"
                    class="form-control"
                  >
                    <option *ngFor="let priority of priorities">{{priority}}</option>
                  </select>
                </div>
              </div>
            </form>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            [disabled]="dataChanged"
            (viewDateChange)="onViewDateChange()">
            Previous
          </button>
          <button
            class="btn btn-default"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            [disabled]="dataChanged"
            (viewDateChange)="onViewDateChange()">
            Today
          </button>
          <button
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            [disabled]="dataChanged"
            (viewDateChange)="onViewDateChange()">
            Next
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <br>

    <context-menu #eventContextMenu>
      <ng-template contextMenuItem (execute)="moveToUnplanned($event.item)">
        Move to unplanned events
      </ng-template>
      <ng-template contextMenuItem (execute)="deleteEvent($event.item)">
        Delete event
      </ng-template>
    </context-menu>

    <ng-template #eventTitleTemplate let-event="event">
      <div style="height: 100%; overflow: auto;">
        <p>{{event.title}}</p>
        <p>Priority: {{event.priority}}</p>
        <p>Length: {{event.estimatedTime}}</p>
        <button *ngIf="!event.getTask().completed" (click)="onTaskComplete(event)" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span></button>
      </div>
    </ng-template>


    <ng-template #dayEventTemplate let-dayEvent="dayEvent" let-tooltipPlacement="tooltipPlacement"
                 let-eventClicked="eventClicked">
      <div
        class="cal-event"
        [style.backgroundColor]="dayEvent.event.color.secondary"
        [style.borderColor]="dayEvent.event.color.primary"
        [style.color]="dayEvent.event.color.primary"
        [ngClass]="dayEvent.event.cssClass"
        [mwlCalendarTooltip]="dayEvent.event.title | calendarEventTitle:'dayTooltip':dayEvent.event"
        [tooltipPlacement]="tooltipPlacement"
        [contextMenu]="eventContextMenu"
        [contextMenuSubject]="dayEvent.event">
        <mwl-calendar-event-title [customTemplate]="eventTitleTemplate"
                                  [event]="dayEvent.event"
                                  view="day"
                                  (click)="eventClicked.emit()">
        </mwl-calendar-event-title>
        <mwl-calendar-event-actions [event]="dayEvent.event"></mwl-calendar-event-actions>
      </div>
    </ng-template>




  <div style="height: 600px; overflow: auto">
    <mwl-calendar-day-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [class.weekend-day]="weekendDays.indexOf(viewDate.getDay()) > -1"
      [eventTemplate]="dayEventTemplate"
      (eventTimesChanged)="eventDropped($event)">
    </mwl-calendar-day-view>
  </div>

  </div>

</div>
