<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <h4>Owner: {{project.ownerName}}{{isUserOwner()? ' (You)':''}}</h4>
    <hr/>
    <h4>Members</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tr *ngFor="let memberName of project.memberNames">
        <td>{{memberName}}</td>
        <td *ngIf="isUserOwner()">
          <button (click)="removeUserFromMembers(memberName)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>

    <div *ngIf="isUserOwner()" class="row">
      <div class="col-xs-12">
        <label for="memberInput" class="control-label">Project</label>
        <div class="row">
          <div class="col-xs-8">
            <select
              #memberInput
              id="memberInput"
              class="form-control">
              <option value="">Select one</option>
              <option *ngFor="let user of selectableUsers">{{user}}</option>
            </select>
          </div>
          <div class="col-xs-4">
            <button type="button" (click)="addUserToMembers(memberInput.value)" class="btn btn-success">Add</button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="onUpdateMembers()" [disabled]="!membersChanged" class="btn btn-success">Update
              Members
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
