<header class='navbar navbar-default navbar-static-top'>
  <nav class='container' role='navigation'>
    <div class='navbar-header'>
      <a [routerLink]="['/home']" class='navbar-brand'>Balancer</a>

      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse' [ngClass]="{ 'in': isIn }" (click)="toggleState()">
      <li><a (click)="toggleState()" [routerLink]="['/home']">Home</a></li>
      <li><a (click)="toggleState()" [routerLink]="['/projects']" *ngIf="isUserLoggedIn()">Projects</a></li>
      <li><a (click)="toggleState()" [routerLink]="['/day-planner']" *ngIf="isUserLoggedIn()">Day Planner</a></li>
      <li><a (click)="toggleState()" [routerLink]="['/login']" *ngIf="!isUserLoggedIn()">Login</a></li>
      <li><a (click)="toggleState()" [routerLink]="['/register']" *ngIf="!isUserLoggedIn()">Register</a></li>
      <li><a (click)="toggleState()" [routerLink]="['/users']" *ngIf="isUserLoggedIn() && isRouteAllowed('users')">Users</a></li>

      <li class="navbar-text" *ngIf="isUserLoggedIn()">
        <i class="fa fa-user" aria-hidden="true"></i><span> {{getUser().username}} ({{getUserRole()}})</span>
      </li>

      <li *ngIf="isUserLoggedIn()">
        <a (click)="logout(); toggleState()" style="cursor: pointer;">
          <span class="glyphicon glyphicon-log-out"></span><span> Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>


