<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>{{project?.name}} Details</h3>
      </div>
      <div *ngIf="project" class="panel-body">
        <form [formGroup]="projectForm" (ngSubmit)="modifyProject()">
          <div class="form-row">
            <div class="form-group">
              <label for="inputName">Name</label>
              <input formControlName="name" name="name" type="text" class="form-control" id="inputName"
                     placeholder="Project Name">
              <span
                *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched"
                class="help-block">Please enter a valid project name!</span>
            </div>

            <div class="form-group">
              <label for="inputDeadline">Deadline</label>
              <!--Help: https://stackoverflow.com/a/43003951-->
              <!--and https://stackoverflow.com/a/49577416-->
              <input formControlName="deadline"
                     [value]="projectForm.get('deadline').value | date:'yyyy-MM-dd'"
                     name="deadline" type="date" class="form-control" id="inputDeadline">
              <span
                *ngIf="!projectForm.get('deadline').valid && projectForm.get('deadline').touched"
                class="help-block">Please enter a deadline!</span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <textarea
                formControlName="description"
                name="description"
                type="text"
                class="form-control"
                id="inputDescription"
                placeholder="Project Description"
                rows="6"></textarea>
            </div>
          </div>
          <button type="submit" *ngIf="isUserOwner()" [disabled]="!projectForm.valid" class="btn btn-success">Save
          </button>
          <button type="button" (click)="goBack()" class="btn btn-primary">Back</button>
        </form>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Tasks</h3>
      </div>
      <div *ngIf="project" class="panel-body" style="overflow: auto">
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Priority</th>
            <th>Assignee</th>
            <th>Planned date</th>
            <th>Description</th>
            <th>Completion date</th>
          </tr>
          </thead>
          <tr *ngFor="let task of project.tasks" [ngClass]="{completedTaskRow: task.completed === true}">
            <td>
              <button *ngIf="canUserEditTask(task) && !task.completed" class="btn btn-success"
                      (click)="onTaskCompleted(task)"><span
                class="glyphicon glyphicon-ok-sign"></span></button>

              <span *ngIf="task.completed" class="glyphicon glyphicon-ok"></span>
            </td>
            <td>{{task.name}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.assignedUser}}</td>
            <td>{{task.plannedDate | date:'yyyy. MM. dd.'}}</td>
            <td>{{task.description}}</td>
            <td>{{task.completionDate | date:'yyyy. MM. dd.'}}</td>
            <td>
              <button *ngIf="canUserEditTask(task)" class="btn btn-primary" (click)="onEditTask(task.id)">Edit</button>
            </td>
            <td>
              <button *ngIf="canUserEditTask(task)" (click)="deleteTask(task)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </table>

        <button class="btn btn-success" (click)="onAddTask()">Add Task</button>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Users</h3>
      </div>
      <div *ngIf="project" class="panel-body">
        <h4>Owner: {{project.ownerName}}{{isUserOwner()? ' (You)':''}}</h4>
        <hr/>
        <h4>Members</h4>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>
          <tr *ngFor="let memberName of project.memberNames">
            <td>{{memberName}}</td>
            <td *ngIf="isUserOwner()">
              <button (click)="removeUserFromMembers(memberName)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </table>

        <div *ngIf="isUserOwner()" class="row">
          <div class="col-xs-12">
            <label for="memberInput" class="control-label">Project</label>
            <div class="row">
              <div class="col-xs-8">
                <select
                  #memberInput
                  id="memberInput"
                  class="form-control">
                  <option value="">Select one</option>
                  <option *ngFor="let user of selectableUsers">{{user}}</option>
                </select>
              </div>
              <div class="col-xs-4">
                <button type="button" (click)="addUserToMembers(memberInput.value)" class="btn btn-success">Add</button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button (click)="onUpdateMembers()" [disabled]="!membersChanged" class="btn btn-success">Update
                  Members
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Project Planner</h3>
      </div>
      <div *ngIf="project" class="panel-body">
        <app-project-planner></app-project-planner>
      </div>
    </div>
  </div>
</div>

